@model IEnumerable<Web2.Models.Transaction>

@{
    ViewData["Title"] = "View Transactions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>View Transactions</h1><br /><br />

<h4>
    <a asp-action="AdminViewAll">View All Transactions</a> | 
    <a asp-action="AdminViewNew">View New Transactions</a> | 
    <a asp-action="AdminViewUnreturned">View Unreturned Transactions</a> | 
    <a asp-action="AdminViewRejected">View Rejected Transactions</a> | 
    <a asp-action="AdminViewReturned">View Returned Transactions</a>
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TranStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TranDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                   <a asp-action="MarkReturned" class="btn btn-danger" asp-route-id="@item.TranId">Mark Returned</a>
            </td>
        </tr>
}
    </tbody>
</table>
