@model Web2.Models.NonDatabaseModels.ChangePassword

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .hh{
       align="center"
         position: fixed;
    left: 50%;
    top: 50%;
    margin: 12px;

    }
    .btn2{
        width:150px;
    }
</style>


    <h1>Password Change</h1><br /><br />

<div id="ChangePassword" class="MainSubs hh">
    <div id="login-div">
        @using (Html.BeginForm("ChangePasswords", "Admin", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                        <b>Old Password</b>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.OldPassword)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </td>
                </tr>
                <tr>
                    <td>
                       <b>New Password</b>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.NewPassword1)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(model => model.NewPassword1)
                    </td>
                </tr>
                <tr>
                    <td>
                       <b>Confirm New Password</b>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.NewPassword2)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(model => model.NewPassword2)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.CPErrorMessage) </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" class="btn btn-primary btn2" value="Change Password" /><br><br>
                        <input type="reset" name="name" class="btn btn-success btn2" value="Cancel" /><br><br>
                        <a asp-action="UserAccount" class="btn btn-warning btn2"><i class="fa-solid fa-arrow-left"></i> Back</a>
                    </td>
                </tr>
            </table>
        }
    </div>

</div>
